name: CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./PlexCost
          file: ./PlexCost/Dockerfile
          push: false
          build-args: |
            APP_UID=0
          tags: plexcost:test
