name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./PlexCost
          file: ./PlexCost/Dockerfile
          push: true
          build-args: |
            APP_UID=0
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/plexcost:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/plexcost:${{ github.sha }}
